<div class="container">
  <app-bt-jumb></app-bt-jumb>
  <div class="row">
    <div class="col-md-4">
      <app-bt-crd></app-bt-crd>
    </div>
    <div class="col-md-4">
      <app-bt-crd></app-bt-crd>
    </div>
    <div class="col-md-4">
      <app-bt-crd></app-bt-crd>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-bt-crd></app-bt-crd>
    </div>
    <div class="col-md-4">
      <app-bt-crd></app-bt-crd>
    </div>
    <div class="col-md-4">
      <app-bt-crd></app-bt-crd>
    </div>
  </div>
</div>
