<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" id="samples">
			<img id="zoom1" width="200px" height="440px" onmousemove="zoomIn(event)" onmouseout="zoomOut()" src="https://rukminim1.flixcart.com/image/400/400/jit64cw0-1/mobile/4/8/h/samsung-galaxy-on6-sm-j600gf-original-imaf6j6zhqa3yfvz.jpeg?q=70">
		
		</div>
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			<div id="preview" onmousemove="zoomIn(event)"></div>
		</div>
	</div>
</div>
	<div ng-app="">
	<div class="col-md-12" (mouseover)="changeImage=true" (mouseleave)="changeImage=false" ng-init="changeImage=false">				
		<img class="text-center" style="height:300px;width:300px" ng-hide="changeImage" src="http://learnit.visrosoftware.com/datafiles/1.jpeg" />
		<img class="text-center" style="height:300px;width:300px" ng-show="changeImage" src="http://learnit.visrosoftware.com/datafiles/2.jpeg" />
		</div>
	</div>


<!-- <ngx-image-zoom [thumbImage]="thmb" [fullImage]="thmb" enableLens="true" magnification="5" lensWidth="500" lensHeight="500" appSamp></ngx-image-zoom> -->
