<div class="row">
      <div class="col-md-12">
        <div class="alert alert-info"> welcome to {{nm}}</div>
        <div class="alert alert-info"> welcome to {{nm.toUpperCase()}}</div>
        <div class="alert alert-info"> welcome to {{amt * 5}}</div>
        <input type="{{typ}}" class="{{cls}}" value="login">

      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input [type]="'button'" [class]="cls" [value]="nm">
    </div>
  </div>

  <div class="row">
      <div class="col-md-12">
        <div [class.jumbotron]="true">codekul angular</div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <input type="button" class="btn btn-warning" value="click me" (click)="clickme($event)">
        </div>
      </div>
